<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to <%= title %> page</h1>
      <main class="main">
          <div class="container">
              <div class="page-header">
                <br/>
                  <h1> Portfolio </h1>
              </div>
              <div class="row">
                <div class="col-md-6 portfolio-item">
                    <a>
                        <img class="img-responsive" src="http://blogs.gartner.com/marco-meinardi/files/2018/01/Screen-Shot-2018-01-20-at-15.38.35.png" alt="Cloud" width="500" height="350">
                    </a>
                    <p>Cloud Management</p>
                </div>
                <div class="col-md-6 portfolio-item">
                    <a >
                        <img class="img-responsive" src="https://writersrinivasan.com/wp-content/uploads/2021/05/web-development-coding-programming-internet-technology-business-concept-web-development-coding-programming-internet-technology-121903546-1.jpg" alt="Web" width="500" height="350">
                    
                      </a>
                    <p>Web Development</p>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6 portfolio-item">
                    <a>
                      <img class="img-responsive" src="https://www.jrebel.com/sites/default/files/image/2020-05/image-blog-revel-top-java-tools.jpg" alt="Web" width="500" height="350">
                      </a>
                    
                    <p>Java Developer</p>
                </div>
                <div class="col-md-6 portfolio-item">
                  <a >
                      <img class="img-responsive" src="https://www.cyanous.com/img/python1.png" alt="Python" width="500" height="350">
                  
                    </a>
                  <p>Web Development</p>
              </div>
            </div>
</main>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>