<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to <%= title %> page</h1>
      <main class="main">
          <div class="container">
              <div class="page-header">
                  <h1> Services </h1>
                  <img class="pull-left" src="https://thumbs.dreamstime.com/b/customer-service-relationship-concept-virtual-screen-94305919.jpg" alt="services" width="1100" height="400">
                <br/>
                  <p>1. Cloud Management</p>
                <p>2. Web Development</p>
                <p>3. Python</p>
                <p>4. Advance JAva</p>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                </div>    
                </div>
      </main>



<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>